html {
  background-color: #fff7c2;

  body {
    background-color: #fff7c2;
  }
}

nav {
  background-color: #ffa258;
  color: #fff7c2;

  h1 {
    padding: 20px 0px;
  }
}

main {
  background-color: #fff7c2;

  .myContainter {
    margin-bottom: 50px;

    h2 {
      margin-top: 30px;
      font-size: 5rem;
    }
  }
}
.card.myCard {
  height: 400px;
  background-color: #4b125c;
  color: #a02a63;
}
.card-body {
  display: flex;
  flex-direction: column;

  .btn {
    margin-top: auto;
    background-color: #ffa258;
    color: #fff7c2;
    outline: none;
  }
  .btn:hover {
    background-color: #a02a63;
  }
  .btn-primary:hover {
    border-color: #a02a63;
  }
  .btn-primary {
    border-color: #a02a63;
    outline: none;
    background-color: #ffa258;
  }
}
.myBtn:active,
.myBtn:focus {
  background-color: #ffa258 !important;
  color: #fff7c2 !important;
  border-color: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: #a02a63 !important;
}

.myContainter {
  margin-bottom: 50px;
}

.card.myCard {
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-4px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(4px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(3px, -2px) rotate(1deg);
  }
  50% {
    transform: translate(-2px, 4px) rotate(-1deg);
  }
  60% {
    transform: translate(-4px, 3px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 2px) rotate(-1deg);
  }
  80% {
    transform: translate(-3px, -2px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 4px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -4px) rotate(-1deg);
  }
}
